*{
    font-family: 'Roboto Slab', serif;
}
body{
    background-color: lightsteelblue;
}
#contenedor{
    max-width: 1200px;
    margin:0 auto;
    min-height: 795px;
}
#contenedor iframe{
    width: 50%;
    height: 20rem;
}
#column_container{
    display: flex;
    padding: 3%;
    flex-direction: column;
}

